<div>
    <br>
    <mat-card>
      <section  class="mat-typography">
          <h3>Update post</h3>
      </section>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="updateForm" class="edit-form">
        <mat-form-field class="field-full-width">
            <input matInput placeholder="post Title" formControlName="title" #title>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <textarea matInput placeholder="description" formControlName="description" #description></textarea>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <textarea matInput placeholder="content" formControlName="content" #content></textarea>
        </mat-form-field>
        <mat-form-field class="field-full-width">
            <mat-select placeholder="responsible" formControlName="responsible" #responsible>
              <mat-option value="ibtissem">ibtissem</mat-option>
              <mat-option value="rostom">rostom</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/list" routerLinkActive="router-link-active" >Back</button>
        <button type="submit" (click)="updatePost(title.value,  responsible.value, description.value, content.value)" [disabled]="updateForm.pristine || updateForm.invalid" mat-raised-button color="primary">Update</button>
      </form>
    </mat-card>
  </div>
